
.scroll-parent {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  overflow-x: hidden;
}

.scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  gap: 16px;
  left: 0%;
  top: 0%;
  display: flex;
  align-items: left;
  justify-content: space-around;
  animation: scroll-element 10s linear infinite;
}



@keyframes scroll-element {
  from {
    left: 166%;
  }
  to {
    left: -154%;
  }
}



.scroll-element:hover,
.scroll-element:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.scroll-parent:hover>.scroll-element:not(:hover) {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}