/*
    Below you will be able to freely customize every aspect of the comment widget.
    Most aspects of the widget are 100% able to be customized in CSS, but for strong structural changes,
    you may have to edit the JavaScript file.

    These are all the classes and IDs at your disposal!
    Classes have a c- at the start and IDs have a c_
    You don't need every single one for a good theme, but I tried to give as many options as possible!
*/
/*
    Containers:
        #c_widget - The container <div> for the entire widget
        #c_inputArea - The wrapper <div> around the form
        #c_container - The wrapper <div> around all the comments

    The input form:
        #c_form - The whole input <form>
        #c_widgetTitle - The <h2> title at the top of the form

        .c-inputWrapper- All <div> wrappers for each label/input pair
        .c-label - All <label>s
        .c-input - All <input>s

        #c_nameWrapper - The wrapper <div> for the name field
        .c-nameLabel - The <label> for the name field
        .c-nameInput - The <input> for the name field

        #c_websiteWrapper - The wrapper <div> for the website field
        .c-websiteLabel - The <label> for the website field
        .c-websiteInput - The <input> for the website field

        #c_textWrapper - The wrapper <div> for the text field
        .c-textLabel - The <label> for the text field
        .c-textInput - The <input> for the text field

        #c_submitButton - The submit button (It's an <input> element with a type of "submit")
        #c_replyingText - The text <span> that displays when a user is replying to a comment

    The comment section:
        .c-comment - All comment <div>s
        .c-reply - All reply <div>s (contained within parent comment <div>s)
        .c-replyContainer - The wrapper <div> for all replies
        .c-name - The name of the person submitting the comment/reply (an <h3> element)
        .c-timestamp - The timestamp of when the comment/reply was made (a <span> element)
        .c-site - The website linked at the top of the comment/reply (an <a> element)
        .c-text - The actual text body of the comment/reply (a <p> element)
        .c-replyButton - All reply <button>s
        .c-expandButton - The <button>s to reveal/hide replies (These only show if s_collapsedReplies is set to true in the JS)
        
        #c_pagination - The <div> wrapper for the pagination at the bottom (Only shows if there's more than one page)
        .c-paginationButton - Both left and right directional <button>s
        #c_leftButton - The left <button>
        #c_rightButton - The right <button>
*/

/**
 * 98.css
 * Copyright (c) 2020 Jordan Scales <thatjdanisso.cool>
 * https://github.com/jdan/98.css/blob/main/LICENSE
 */

:root {
  --surface: #648547;
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #000000;
  --window-frame: #000000;
  --dialog-gray: #808080;
  --dialog-gray-light: #b5b5b5;
  --link-blue: #0000ff;


  /* Borders */
  --border-raised-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-face);
  --border-sunken-outer: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--window-frame);
  --border-sunken-inner: inset -2px -2px var(--button-face),
    inset 2px 2px var(--button-shadow);

  /* Window borders flip button-face and button-highlight */
  --border-window-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-face);
  --border-window-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-highlight);

  /* Button hover */
  --border-window-outer-2: inset -1px -1px var(--button-face),
    inset 1px 1px var(--window-frame);
  --border-window-inner-2: inset -2px -2px var(--button-highlight),
    inset 2px 2px var(--button-shadow);

  /* Image only windows */
  --border-window-outer3: inset -1px -1px var(--window-frame),
    inset 1px 0px var(--button-face);
  --border-window-inner3: inset -2px -2px var(--button-shadow),
    inset 2px 0px var(--button-highlight);
    
}

/* FONTS */

    @font-face {
        font-family: 'Enhance';
        src: url('Enhance.ttf');
    }

    @font-face {
        font-family: 'tiny';
        src: url('TinyUnicode.ttf');
    }

/* body {background-color: black} */

/* Main */
#c_widget {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding: 20px;
    background-attachment: fixed;
    font-family: 'Enhance';
        font-size: 1.8rem;
    color: white;
}

#c_widget button, #c_widget input[type=submit] {
    padding: 4px;
    font-family: 'tiny';
        font-size: 1.6rem;
    text-decoration: none;
	text-align: center;
    text-transform: uppercase;
    background-color: #F39C11;
    color: ghostwhite;
}
#c_widget button:hover, #c_widget input[type=submit]:hover {
    color: white;
        font-size: 1.6rem;
}
#c_widget button:disabled, #c_widget input[type=submit]:disabled {opacity: 60%;}
#c_widget button:disabled:hover, #c_widget input[type=submit]:disabled:hover {
    color: darkgrey;
}

/* Input section */
#c_inputDiv {
    margin-bottom: 15px;
    padding: 10px;
}

#c_widgetTitle {
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}

.c-inputWrapper {
    display: block;
    text-align: right;
}
.c-input {
    padding: 4px;
	margin:4px;
    color: black;
  box-shadow: var(--border-window-outer), var(--border-window-inner);
	outline: none;
}
.c-input:focus {
  box-shadow: var(--border-window-outer), var(--border-window-inner);
}

.c-textInput {
    width: calc(100% - 10px);
    max-width: 900px;
    resize: none;
}
#c_submitButton {
        font-size: 1.6rem;
    display: block; 
    margin-left: auto; 
    margin-right: 4px;
}
#c_replyingText {
    color: white;
	text-decoration:underline;
    text-align: right;
}

/* Comment section */
.c-comment {
    margin-bottom: 15px;
    padding: 10px;
  box-shadow: var(--border-window-outer), var(--border-window-inner);
    background-color: #4b6336; 
}
.c-reply {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0;
    padding: 10px;
  box-shadow: var(--border-window-outer), var(--border-window-inner);
    background-color: #324224; 
}
.c-reply:last-child {margin-bottom: 0;}
.c-replyContainer {
    margin: -10px;
    margin-top: 10px;
    padding: 10px;
}

.c-name {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.c-site {
    text-transform: uppercase;
    text-decoration: underline;
    color: #97b87a !important;
}
.c-site:hover {color: ghostwhite !important;}
.c-timestamp {
    float: right;
    opacity: 75%;
}
.c-text {
    margin: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    font-family: 'Enhance';
        font-size: 1.8rem;
    text-align: justify;
    color: ghostwhite;
}

/* Pagination */
#c_pagination {text-align: center;}
.c-replyButton {
    margin-top: 10px;
        font-size: 1.6rem;
    margin-right: 4px;
}
.c-expandButton {
    margin-top: 10px;
        font-size: 1.6rem;
    margin-left: 4px;
}
.c-paginationButton {
    margin-right: 4px;
        font-size: 1.6rem;
    margin-left: 4px;
}