
/* FONTS */

    @font-face {
        font-family: 'enhance';
        src: url('Enhance.ttf');
    }

/*  HIDE SCROLLBAR*/

    * {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    *::-webkit-scrollbar {
        display: none;  /* Chrome, Safari and Opera */
    }

/* BODY */
        
    * {
        box-sizing: border-box;
    }

    body {
        padding: 20px 0 0 0;
        margin: 0;

        background-color: rgb(1, 51, 8);

        width: 100%;
        margin: auto;

        text-align: center;

        color: ghostwhite;
        font-family: enhance;
    }

    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; /*horizontal*/
        align-items: center; /*vertical*/

        width: 100%; 
        height: 80vh;
    }

    h1 {
        font-size: 5.4rem;
    }

    p {
        font-size: 1.8rem;
    }

    a {
        color: ghostwhite;
        text-underline-offset: 2px;
    }

    a:hover{
        color:#f9a106;
    }

    img {
        margin-top: 40px;
        max-width: 30vw;
    }

    .floaty {
        -webkit-animation: mover 5s -1s infinite alternate;
        animation: mover 5s -1s infinite alternate;
        animation-timing-function: ease-in-out;
        
        -webkit-filter: drop-shadow(2px 5px 2px #00000057);
        filter: drop-shadow(2px 5px 2px #00000057);
    }

    @-webkit-keyframes mover {
        0% { transform: translateY(0px); }
        100% { transform: translateY(20px); }
    }

    @keyframes mover {
        0% { transform: translateY(0px); }
        100% { transform: translateY(20px); }
    }