@charset "UTF-8";


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
}


/* FONTS */

    @font-face {
        font-family: 'Enhance';
        src: url('Enhance.ttf');
    }

    @font-face {
        font-family: 'tiny';
        src: url('TinyUnicode.ttf');
        ascent-override: 50%;
    }


/*  HIDE SCROLLBAR*/

    * {
        -ms-overflow-style: none;
        /* IE, Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    *::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }


:root {

    --surface: #648547;
    --surface-dark: #4e6b34;
    --surface-darker: #344920;

    --border-highlight: #ffffff;
    --border-light: #cce1b8;
    --border-dark: #4e6b34;
    --border-darker: #344920;
    --border-shadow: #21340e;

    --surface-yellow: #f39c11;
    --border-light-yellow: #ffeacd;
    --border-dark-yellow: #6b5634;
    --border-darker-yellow: #4a3a21;

    --surface-brown: #592b23;
    --border-dark-brown: #46211b;
    --border-light-brown: #79473f;

    --text-color: #ffffff;

}


/* BODY */

    body {
        padding: 0;
        margin: 0;
        font-family: enhance;
        color: ghostwhite;

        text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .window {
        background-color: var(--surface);

        box-shadow:
            -1px -1px inset var(--border-light),
            1px 1px inset var(--border-shadow),
            -2px -2px inset var(--border-light),
            2px 2px inset var(--border-shadow)
        ;

        height: auto;
        padding: calc(2px + 4px);
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    summary {
        background: var(--surface-brown);

        height: 36px;
        padding: 0px 0px 0px 8px;

        font-family: 'tiny';
        font-size: 2rem;

        box-shadow:
            2px 2px inset var(--border-light-brown),
            -2px -2px inset var(--border-dark-brown)
        ;
    }

    summary::marker {
        font-size: 1.2rem;
    }

    nav a {
        text-decoration: none;
        color: ghostwhite;
    }

    nav ul {
        margin-top: 6px;
    }

    nav li {
        margin: 0;
        padding: 0 0 0 8px;
        cursor: pointer;
        list-style-type: none;

        font-size: 1.4em;
        background: var(--surface);

        border: 1px outset #7fa15e;

    }

    nav li:before {
        content: '>';
    }

    nav li:hover {
            background: var(--surface-dark);
    }

    .side-50 {
        width: 50%;
    }

    .offsite li:before {
        content: '';
    }